@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,1,0" />
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .general-area {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .card {
            max-width: 1080px;
            width: 100%;
            background-color: #ffffff;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            padding: 50px 120px;
            text-align: center;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }

        .icon span {
            color: #0C69AB;
            font-size: 300px;
            height: 300px;
            width: 300px;
            margin-right: 25px;
        }

        .texts-info {
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: start;
        }

            .texts-info h1 {
                height: 90px;
                font-size: 48px;
                color: #000;
                font-weight: 800;
                margin-bottom: 10px;
            }

            .texts-info p {
                height: 70px;
                max-width: 420px;
                text-wrap: wrap;
                text-align: left;
                font-weight: 700;
                font-size: 24px;
                color: #666;
            }

    </style>
</head>

<div class="general-area">
    <div class="card">
        <div class="icon">
            <span class="material-symbols-outlined">lock_person</span>
        </div>
        <div class="texts-info">
            <h1>Acesso negado</h1>
            <p>Seu usuário não tem permissão para acessar essa página.</p>
        </div>
    </div>
</div>
