@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Redefinir Senha";
}
<head>

    <style>
    header {
    display: none;
    }

    body {
            background: linear-gradient(50deg, white 95%, #08448c 5%);
    }

    footer {
    background-color: #08448c;
    }


    </style>

</head>

<p></p>
<p></p>
<h1>Informe seu email</h1>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary" style="background-color:#08448c"><i class="fa fa-lock me-2"></i>Redefinir senha</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
