@page
@model RegisterModel
@{
	ViewData["Title"] = "Registrar novo Utilizador";
	Layout = null;
}
<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
	<style>
		header, #sidebar {
			display: none;
		}

		footer {
			background-color: #08448c;
		}

		* {
			margin: 0;
			padding: 0;
			box-sizing: border-box;
			font-family: Arial, sans-serif;
		}

		body {
			display: flex;
			justify-content: center;
			align-items: center;
			min-height: 100vh;
			background-color: #e6f0fa;
		}

		.container {
			margin: 0;
			padding: 0;
			display: flex;
			flex-direction: row;
			width: 100vw;
			height: auto;
			background: #D9E9F4;
		}

		.left-section {
			position: relative;
			width: 60%;
			height: auto;
			flex-grow: 1;
		}

			.left-section img {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}

		.right-section {
			width: 40%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			padding-top: 20px;
			flex-grow: 1;
			height: auto;
		}

		.form-container {
			width: 300px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			background-color: #D9E9F4;
			margin-top: 0;
			position: relative;
			padding-top: 20px;
			padding-bottom: 20px;
			height: auto;
		}

		.right-section img {
			width: 150px;
			height: auto;
			margin: 15px;
		}

		.form {
			width: 100%;
			max-width: 350px;
			display: flex;
			flex-direction: column;
			padding-bottom: 20px;
			margin-top: 10px;
		}

			.form p {
				height: 35px;
				font-size: 18px;
				display: flex;
				flex-direction: column;
				text-align: left;
				justify-content: center;
				font-weight: 600;
			}

			.form input {
				padding: 10px;
				font-size: 1em;
				border: 1px solid rgba(0, 0, 0, 0.25);
				border-radius: 5px;
				background-color: #fff;
			}

				.form input:focus {
					border: 1px solid #ccc;
					outline: none;
					border-color: #0C69AB;
				}

			.form a {
				text-align: left;
				display: flex;
				flex-direction: column;
				justify-content: center;
				height: 40px;
				font-size: 17px;
				color: #0C69AB;
				text-decoration: none;
				font-weight: 600;
			}

				.form a:hover {
					color: #000000;
				}

			.form button {
				margin-top: 23px;
				margin-left: 10%;
				margin-right: 10%;
				margin-bottom: 35px;
				padding: 10px;
				font-size: 1em;
				color: white;
				background-color: #0C69AB;
				border: none;
				border-radius: 5px;
				cursor: pointer;
				transition: background-color 0.3s ease;
			}

				.form button:hover {
					background-color: #155cb0;
				}

		#login-link {
			display: flex;
			justify-content: center;
			flex-direction: row;
			align-items: center;
			position: absolute;
			bottom: 20px;
			font-size: 16px;
			color: #000000;
			font-weight: 600;
		}

			#login-link a {
				margin-left: 5px;
				color: #1a73e8;
				text-decoration: none;
			}

				#login-link a:hover {
					color: #FF0000;
				}

		.messages {
			color: red;
			text-align: center;
			padding-top: 10px;
		}

			.messages li {
				list-style-type: none;
				padding-left: 0;
				margin: 0;
			}

		.container-input-icon {
			position: relative;
		}

			.container-input-icon > input, .container-input-icon > input {
				width: 100%;
				padding-right: 40px;
			}

		#eye-icon, #eye-icon-2 {
			position: absolute;
			right: 10px;
			top: calc(50% - 7px);
			cursor: pointer;
			color: #0C69AB;
		}

		#email-icon, #user-icon {
			position: absolute;
			right: 10px;
			top: calc(50% - 7px);
			color: #0C69AB;
		}

		@@media screen and (max-width: 930px) {
			.left-section {
				width: 0%;
				height: 50vh;
			}

			.right-section {
				width: 100%;
				padding: 30px;
				height: auto;
			}

			.form-container {
				border: 2px solid #0C69AB;
				border-radius: 10px;
				padding: 20px;
			}

			#login-link {
				margin-top: 15px;
				position: relative;
				bottom: 0;
			}
		}
	</style>
</head>
<div class="container">
	<div class="left-section">
		<img src="~/img/background-login.png" alt="background" />
	</div>
	<section class="right-section">
		<form asp-route-returnUrl="@Model.ReturnUrl" method="post">
			<div class="form-container">
				<img src="~/img/logo.png" alt="Frota logo" />
				<div class="form">
					<div asp-validation-summary="ModelOnly" class="messages"></div>
					<p>Cpf</p>
					<div class="container-input-icon">
						<input type="text" asp-for="Input.UserName" class="form-control" maxlength="11" required aria-required="true" />
						<i id="user-icon" class="fa fa-user" aria-hidden="true"></i>
					</div>
					<span asp-validation-for="Input.UserName" class="messages"></span>
					<p>Email</p>
					<div class="container-input-icon">
						<input type="email" asp-for="Input.Email" class="form-control" autocomplete="email" required aria-required="true" />
						<i id="email-icon" class="fa fa-envelope" aria-hidden="true"></i>
					</div>
					<span asp-validation-for="Input.Email" class="messages"></span>
					<p>Senha</p>
					<div class="container-input-icon">
						<input id="password" type="password" asp-for="Input.Password" class="form-control" autocomplete="new-password" required aria-required="true" />
						<i id="eye-icon" class="fa fa-eye cor" aria-hidden="true"></i>
					</div>
					<span asp-validation-for="Input.Password" class="messages"></span>
					<p>Confirmar Senha</p>
					<div class="container-input-icon">
						<input id="confirm-password" type="password" asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" required aria-required="true" />
						<i id="eye-icon-2" class="fa fa-eye cor" aria-hidden="true"></i>
					</div>
					<span asp-validation-for="Input.ConfirmPassword" class="messages"></span>
					<button id="registerSubmit" type="submit">Registrar-se</button>
				</div>
				<div id="login-link">
					Cancelar operação? <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Voltar</a>
				</div>
			</div>
		</form>
	</section>
</div>
<script src="~/js/authentication.js"></script>
@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
