@model FrotaWeb.Models.ModeloVeiculoViewModel

<link rel="stylesheet" href="~/css/form-pages.css" asp-append-version="true" />

<main class="main_content container">
	<div class="titulo-pagina">
		<a href="javascript:history.back()" class="voltar">
			<i class="fa fa-arrow-left"></i> Voltar
		</a>
		<h1>Cadastrar Modelo de Veículos</h1>
	</div>
	<div class="fomulario">
		<form asp-action="Edit">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="Nome" class="label">Nome</label>
				<input asp-for="Nome" class="form-control" placeholder="" />
				<span asp-validation-for="Nome" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="CapacidadeTanque" class="label">Capacidade do Tanque</label>
				<input asp-for="CapacidadeTanque" class="form-control" placeholder="" />
				<span asp-validation-for="CapacidadeTanque" class="text-danger"></span>
			</div>
			<div class="buttons">
				<input type="submit" value="Salvar Alterações" class="btn btn-primary" />
			</div>
		</form>
	</div>
</main>

@section Scripts {
	<script src="~/js/form.js" asp-append-version="true"></script>
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
