@model FrotaWeb.Models.MarcaPecaInsumoViewModel

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/form.css" asp-append-version="true" />

<main class="container mt-4">
    <h4 class="page-title fs-2">
        <i class="fa fa-tag mr-3"></i>
        Marca Peças e Insumos
    </h4>
    <h1 class="my-text-label fs-3 mt-4 mb-4">Exclui Marca</h1>
    <div class="creator-form fs-5">
        <div class="row mb-3">
            <div class="col-md-6">
                <div class="type-container offset-md-1 itens-center">
                    <label class="label">Descição</label>
                    <textarea asp-for="Descricao" class="form-control bg-white" placeholder="" readonly>@Model.Descricao</textarea>
                </div>
            </div>
        </div>
        <form asp-action="Delete" class="row mt-4">
            <div class="col-12 col-md-6 mb-2 mb-md-0 itens-center">
                <a asp-action="Index" class="my-button btn btn-danger btn-sm w-50 w-md-auto">Voltar</a>
            </div>
            <div class="col-12 col-md-6 d-flex justify-content-md-end itens-center">
                <input type="submit" value="Excluir" class="my-button btn btn-success btn-sm w-50 w-md-auto botao-sucesso" />
            </div>
        </form>
    </div>
</main>