@model FrotaWeb.Models.AbastecimentoViewModel

<h4>AbastecimentoViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdFornecedor" class="control-label"></label>
                <input asp-for="IdFornecedor" class="form-control" />
                <span asp-validation-for="IdFornecedor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdVeiculo" class="control-label"></label>
                <input asp-for="IdVeiculo" class="form-control" />
                <span asp-validation-for="IdVeiculo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataHora" class="control-label"></label>
                <input asp-for="DataHora" class="form-control" />
                <span asp-validation-for="DataHora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Odometro" class="control-label"></label>
                <input asp-for="Odometro" class="form-control" />
                <span asp-validation-for="Odometro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Litros" class="control-label"></label>
                <input asp-for="Litros" class="form-control" />
                <span asp-validation-for="Litros" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
