.column-10 {
    width: 10%; /* Coluna com 10% de largura */
}

.column-15 {
    width: 15%; /* Coluna com 10% de largura */
}

.column-20 {
    width: 20%; /* Coluna com 20% de largura */
}

.column-30 {
    width: 30%; /* Coluna com 30% de largura */
}

.column-40 {
    width: 40%; /* Coluna com 40% de largura */
}

.column-50 {
    width: 50%; /* Coluna com 50% de largura */
}

.column-60 {
    width: 60%; /* Coluna com 60% de largura */
}

.column-70 {
    width: 70%; /* Coluna com 70% de largura */
}

.column-80 {
    width: 80%; /* Coluna com 80% de largura */
}

.column-85 {
    width: 85%; /* Coluna com 80% de largura */
}

.column-90 {
    width: 90%; /* Coluna com 90% de largura */
}

.column-100 {
    width: 100%; /* Coluna com 100% de largura */
}


/* Título da página */
.titulo-pagina {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
}

    .titulo-pagina .voltar {
        margin-top: 30px;
        height: 50px;
        font-size: 20px;
        color: #171717;
        font-weight: 600;
        text-decoration: none;
    }

    .titulo-pagina h1 {
        height: 50px;
        font-size: 30px;
        font-weight: 700;
        margin: 0;
        color: #333;
    }

.acoes {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
/* Botão Criar */
.acoes .btn-primario {
    background-color: #ffffff;
    color: #171717;
    border: none;
    border-radius: 8px;
    height: 40px;
    width: 160px;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 700;
    font-size: 17px;
    transition: background-color 0.3s;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1);
}

    .acoes .btn-primario:hover {
        background-color: #0C69AB;
        color: #ffffff;
        box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
    }

.filtros {
    width: 60%;
    display: flex;
    justify-content: end;
}

.filtros form {
    width: 370px;
    display: flex;
    align-items: center;
}

.filtros form label {
    margin: 0px;
    margin-right: 10px;
    font-weight: bold;
    width: 150px;
}

    .filtros form select.custom-select {
        width: 220px !important;
        border: 2px solid rgba(0, 0, 0, 0.25); /* Define a borda cinza clara */
        border-radius: 10px; /* Bordas arredondadas */
        padding: 8px; /* Espaçamento interno */
        font-size: 16px; /* Tamanho da fonte */
        background-color: #f9f9f9; /* Fundo leve para melhorar o contraste */
        color: #333; /* Cor do texto */
        outline: none; /* Remove o contorno padrão ao clicar */
        transition: all 0.3s ease; /* Suaviza as interações */
        height: 45px;
        font-weight: bold;

    }

    .filtros form select.custom-select:focus {
        border-color: #007bff; /* Cor da borda ao focar */
        box-shadow: 0 0 4px rgba(0, 123, 255, 0.5); /* Adiciona um efeito de foco */
        background-color: #fff; /* Fundo branco no foco */
    }


/*Estilo da barra de pesquisa*/
.acoes form {
    display: flex;
    flex-direction: row;
}

    .acoes form input {
        height: 40px;
        background-color: #ffffff;
        border: 0px solid #ff0000;
        border-radius: 8px;
        padding-left: 15px;
        padding-right: 15px;
        font-size: 17px;
        box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1);
        transition: 0.2s;
    }

        .acoes form input:hover {
            box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
        }

        .acoes form input:focus {
            border: 2px solid #0C69AB;
            box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
            outline: none;
        }

    .acoes form button {
        height: 40px;
        width: 40px;
        background-color: #0C69AB;
        color: #ffffff;
        border: 0px solid #0C69AB;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 5px;
        box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1);
        transition: 0.2s;
    }

        .acoes form button:hover {
            box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
        }

        .acoes form button span {
            font-size: 20px;
        }

        .acoes form button:focus{
            outline: none;
        }

        .acoes form button:hover {
            background-color: #013759;
        }

        @media (max-width: 768px) {
            .acoes form button {
                display: none;
            }
        }
.acoes form select {
    height: 40px;
    background-color: #ffffff;
    border: 0px solid #0C69AB;
    border-radius: 8px;
    width: 100px;
    text-align: center;
    margin-right: 5px;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1);
}

.acoes form select:focus {
    outline: none;
}

/* Estilo da Tabela */
.tabela {
    width: 100%; /* A tabela ocupa 100% do espaço do contêiner */
    max-width: 100%; /* Garante que ela não exceda o contêiner */
    border-collapse: collapse;
    border-radius: 10px; /* Arredonda os cantos */
    overflow: hidden; /* Garante que o arredondamento funcione */
    table-layout: fixed; /* Controla a largura das colunas */
}

    .tabela thead th {
        background-color: #0C69AB;
        color: #fff;
        text-align: left;
        font-size: 16px;
        padding: 10px;
        white-space: nowrap; /* Evita quebra de linha no cabeçalho */
        overflow: hidden;
        text-overflow: ellipsis; /* Adiciona "..." caso o texto exceda */
    }

    .tabela tbody td {
        white-space: nowrap; /* Impede a quebra de linha */
        overflow: hidden; /* Oculta o conteúdo que excede */
        text-overflow: ellipsis; /* Adiciona "..." no final do texto ocultado */
        font-size: 15px;
        height: 45px;
        font-weight: 500;
        padding: 10px;
        border: 1px solid #dee2e6;
    }

    .tabela tbody tr:nth-child(odd) {
        background-color: #f8f9fa;
    }

    .tabela tbody tr:hover {
        background-color: #e9ecef;
    }

    .tabela thead th:last-child,
    .tabela tbody td:last-child {
        text-align: center; /* Centraliza o conteúdo (opcional) */
    }

    /* Primeira coluna com centralização */
    .tabela tbody td:first-child {
        display: flex;
        justify-content: center;
    }

    /* Última coluna com espaçamento entre itens */
    .tabela tbody td:last-child {
    }

    .tabela tbody tr:nth-child(even) {
        background-color: #E7E7E7; /* Cor para linhas pares */
    }


/* Ícones de ações */
.icone {
    color: #007bff;
    margin-left: 7px;
    margin-right: 7px;
    height: 15px;
    font-size: 15px;
    text-decoration: none;
    transition: color 0.3s;
}

    .icone:hover {
        color: #0056b3;
    }


.navigation-pages {
    width: 100%;
    max-width: 1080px;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

    .navigation-pages button {
        background-color: #0C69AB;
        border: none;
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-content: center;
    }

        .navigation-pages button:hover {
            background-color: #013759;
        }

        .navigation-pages button span {
            color: #fff;
            font-weight: 600;
        }

.page-item {
    list-style: none;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-right: 1px;
    border-radius: 8px;
    overflow: hidden;
}


.page-link {
    background-color: #0C69AB;
    color: #fff;
    border-radius: 8px;
    font-weight: 600;
    margin: 0px;
    text-decoration: none;
    outline: none;
    box-shadow: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Garante alinhamento */
    height: 100%; /* Preenche o botão */
}

.page-item span {
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-item.active a {
    background-color: #000; /* Destaque para o botão ativo */
    cursor: default; /* Cursor padrão para botão ativo */
    border-radius: 8px;
}

.page-item:disabled {
    list-style: none;
    background-color: red;
    pointer-events: none;
    cursor: not-allowed;
}

.page-item.disabled a {
    background-color: #0C69AB; /* Cor cinza para desabilitado */
    pointer-events: none; /* Desativa interatividade */
    cursor: not-allowed; /* Mostra cursor de não permitido */
    border-radius: 8px;
}

.navigation-pages div {
    flex-grow: 1;
}

    .navigation-pages div p {
        font-weight: 600;
        color: #021E35;
    }
/*end*/
