@model FrotaWeb.Models.VeiculoPecaInsumoViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>VeiculoPecaInsumoViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdVeiculo" class="control-label"></label>
                <input asp-for="IdVeiculo" class="form-control" />
                <span asp-validation-for="IdVeiculo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdPecaInsumo" class="control-label"></label>
                <input asp-for="IdPecaInsumo" class="form-control" />
                <span asp-validation-for="IdPecaInsumo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataFinalGarantia" class="control-label"></label>
                <input asp-for="DataFinalGarantia" class="form-control" />
                <span asp-validation-for="DataFinalGarantia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KmFinalGarantia" class="control-label"></label>
                <input asp-for="KmFinalGarantia" class="form-control" />
                <span asp-validation-for="KmFinalGarantia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataProximaTroca" class="control-label"></label>
                <input asp-for="DataProximaTroca" class="form-control" />
                <span asp-validation-for="DataProximaTroca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KmProximaTroca" class="control-label"></label>
                <input asp-for="KmProximaTroca" class="form-control" />
                <span asp-validation-for="KmProximaTroca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
