.label::after {
    content: none !important;
}

.my-text-label {
    display: block;
    font-weight: bold;
    font-size: 1.25em;
    color: var(--bg);
}

.page-title {
    gap: 10px;
    color: var(--fg);
    box-shadow: 0px 1px 2px 1px var(--grey);
    display: flex;
    padding: 15px;
    font-weight: bold;
    align-items: center;
    background-color: var(--bg);
}

    .page-title > span {
        font-size: 1.5em;
    }

.creator-form {
    color: var(--bg);
    border: 1px solid var(--bg);
    padding: 20px;
    font-weight: bold;
}

.top-fields {
    display: flex;
    justify-content: space-between;
}

    .top-fields > div {
        display: flex;
        flex-direction: column;
    }

        .top-fields > div > input {
            border: 1px solid var(--bg);
            outline: none;
            padding: 5px;
            margin-top: 5px;
            text-align: center;
            box-shadow: 0px 1px 2px var(--grey);
            font-weight: bold;
            border-radius: 5px;
        }

            .top-fields > div > input::placeholder {
                color: var(--grey);
            }

.defect-field {
    display: flex;
    margin: 25px 0;
    align-items: center;
    justify-content: space-between;
}

    .defect-field > h5 {
        margin-left: 15px;
        font-weight: bold;
    }

.buttons {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}

.middle-fields {
    border: 1px solid var(--bg);
    display: flex;
    padding: 14px;
    border-radius: 5px;
    flex-direction: column;
}

.type-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

    .type-container > select {
        border: 1px solid var(--bg);
        padding: 5px 10px;
        max-width: 45%;
        box-shadow: 0px 1px 2px var(--grey);
        appearance: none;
        font-weight: bold;
        border-radius: 5px;
        background-color: inherit;
    }

    .type-container > select {
        color: var(--grey);
    }

    .type-container > input {
        border: 1px solid var(--bg);
        padding: 5px 10px;
        max-width: 75%;
        box-shadow: 0px 1px 2px var(--grey);
        appearance: none;
        font-weight: bold;
        border-radius: 5px;
        background-color: inherit;
        text-align: center;
    }

        .type-container > input:invalid {
            color: var(--grey);
        }

        .type-container > input::placeholder {
            color: var(--grey);
            font-weight: bold;
        }

    .type-container > select,
    .type-container > input {
        height: 3.5rem !important;
        box-sizing: border-box;
        font-size: 1rem;
        line-height: 1.5;
    }

    .type-container > label {
        position: relative;
        max-width: 100%;
        margin-bottom: 5px;
        white-space: normal;
        overflow: visible;
    }



.desc-container {
    display: flex;
    margin-top: 15px;
    flex-direction: column;
}

    .desc-container > label {
        margin-bottom: 5px;
    }

    .desc-container > textarea {
        border: 1px solid var(--bg);
        resize: none;
        outline: none;
        padding: 10px;
        min-height: 150px;
        border-radius: 5px;
    }

        .desc-container > textarea::placeholder {
            color: var(--grey);
            font-weight: bold;
        }

.upload-container {
    margin-top: 15px;
}

.campo-data {
    color: var(--grey);
    font-weight: bold;
    font-size: 1rem;
}

.mr-p {
    margin-right: 14px;
}

.mr-g {
    margin-right: 215px;
}

.acoes {
    color: #03438b
}