* {
    box-sizing: border-box;
}

.sidebar {
    --width-open: 260px;
    --width-closed: 64px;
}

body {
    margin: 0;
    background-color: #D2E5F2;
    color: #171717;
    font-family: "Euclid Circular A", "Poppins";
}

.sidebar button {
    background: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;
    font-family: inherit;
}

    .sidebar button p {
        font-weight: 600;
    }

.sidebar {
    position: absolute;
    top: 15px;
    left: 15px;
    bottom: 15px;
    width: var(--width-closed);
    border-radius: 10px;
    background: #ffffff; /* Cor de fundo da barra lateral */
    transition: width 0.3s;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%); /* Sombra do ícone */
}

    .sidebar.open {
        width: var(--width-open);

    }

/* Remove as bordas de foco de links e botões */
button:focus, a:focus {
    outline: none;
    box-shadow: none;
}

/* Ajuste as bordas caso precise de alguma visualização de foco */
button:focus-visible, a:focus-visible {
    outline: none; /* Ou ajuste ao estilo desejado */
    box-shadow: none;
}


button {
    outline: none; /* Remove o contorno padrão ao focar ou clicar */
}

p {
    text-align: left; /* Ajuste o alinhamento ao padrão desejado */
    border: none; /* Remova bordas */
}

button.toggle {
    position: absolute;
    z-index: 2;
    top: 55px;
    right: -20px;
    display: grid;
    place-items: center;
    padding: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ffffff; /* Cor de fundo do ícone */
    color: #0C69AB; /* Cor do ícone */
    border: #D7E7FC solid 4px; /* Cor da borda do ícone */
    transition: 0.3s;
}

    button.toggle:focus {
        outline: none;
    }

.toggle:hover {
    color: #021E35; /* Cor do ícone ao passar o mouse */
}

.sidebar.open .toggle {
    rotate: 180deg;
}

.sidebar .inner {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 260px;
}

.sidebar .header {
    display: flex;
    align-items: center;
    height: 72px;
    width: var(--width-closed);
    padding: 0 20px;
    background: rgb(0 0 0 / 0%); /* Cor de fundo do cabeçalho */
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    transition: 0.3s;
}

.sidebar.open .header {
    width: var(--width-open);
}

.sidebar .header h1 {
    margin-left: 12px;
    font-weight: 800;
    font-size: 16px;
    letter-spacing: 2px;
    color: #0C69AB; /* Cor do título */
}

.sidebar .logo {
    height: 28px;
}

.sidebar .menu {
    position: relative;
    display: grid;
    margin-top: 25px;
}

    .sidebar .menu::after {
        content: "";
        position: absolute;
        top: 0;
        left: 4px;
        height: 50px;
        width: 4px;
        background: #0C69AB; /* Cor da barra de destaque */
        translate: 0 var(--top);
        transition: 0.3s;
    }

    .sidebar .menu button {
        display: flex;
        gap: 16px;
        align-items: center;
        height: 50px;
        width: var(--width-closed);
        font-size: 14px;
        text-transform: capitalize;
        line-height: 1;
        padding: 0 22px;
        color: inherit;
        cursor: pointer;
        opacity: 0.8;
        transition: 0.3s;
    }

    .sidebar .menu button:focus {
        outline: none;
    }

        .sidebar .menu button p {
            margin: auto;
            margin-left: 0px;
        }

.sidebar.open .menu button {
    width: var(--width-open);
}

.sidebar .menu :is(button:hover, .active) {
    color: #0C69AB; /* Cor do texto ao passar o mouse */
    opacity: 1;
}

.sidebar.open .menu .active {
    cursor: default;
}

.sidebar .menu button:hover > span {
    opacity: 1;
}

.sidebar .menu button p,
.sidebar .header h1 {
    opacity: 0;
}

.sidebar.open :is(.sidebar .menu button p, .sidebar .header h1) {
    opacity: 1;
}

.sidebar.open .logo {
    scale: 1;
}

.sidebar .menu button > img {
    width: 30px;
    height: 30px;
}

.login-button {
    display: flex;
    flex-direction: row;
    left: 0px;
    align-items: center;
    justify-content: space-between;
    height: 56px;
    width: var(--width-closed);
    font-size: 14px;
    text-transform: capitalize;
    line-height: 1;
    color: inherit;
    cursor: pointer;
    opacity: 0.8;
    transition: width 0.8s, opacity 0.3s;
}

.sidebar.open .login-button {
    width: var(--width-open); /* A largura expandida */
}

    .login-button a {
        display: flex;
        text-decoration: none;
        flex-direction: row;
        align-items: center;
    }

    .login-button a:hover {
        text-decoration: none;
    }
    

        .login-button a p {
            max-width: 140px;
            overflow: hidden;
            margin-left: 15px;
            font-weight: 600;
        }

.profile-link {
    margin: auto;
}

.manage-link {
    text-decoration: none;
}

.logout-link:hover {
    color: #0C69AB;
}

.sidebar.open .logout-link,
.sidebar.open .profile-link {
    display: block;
}

.sidebar:not(.open) .logout-link,
.sidebar:not(.open) .profile-link {
    display: none;
}

/* Submenu escondido inicialmente */
.submenu {
    max-height: 0; /* Altura inicial */
    overflow: hidden; /* Oculta o conteúdo que ultrapassa a altura */
    transition: max-height 0.3s ease-out; /* Animação suave */
}

    /* Submenu aberto */
    .submenu.open {
        max-height: 300px; /* Altura máxima (ajuste conforme necessário) */
    }

    .submenu button {
        display: flex;
        align-items: center;
        gap: 8px;
        border: none;
        background-color: transparent;
        cursor: pointer;
        font-size: 16px;
        border-radius: 5px;
    }

        .submenu button p {
            color: #7a7b92;
            margin: auto;
            margin-left: 15px;
        }

        .submenu button:hover {
            background-color: #f0f0f0; /* Exemplo de destaque ao passar o mouse */
            border-radius: 4px;
        }

.expand-icon {
    margin-left: auto; /* Move o ícone de expansão para a direita */
}
