:root {
    --bg: #03438b;
    --fg: #ffffff;
    --grey: #c0c0c0;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Melhorar a organiza��o do media query */
html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    margin-bottom: 60px;
    min-height: 100vh;
    font-family: 'Arial', sans-serif !important;
    background-color: #f8f9fa;
}

.my-button {
    color: var(--fg);
    border: none;
    display: flex;
    padding: 15px 0px;
    min-width: 200px;
    font-weight: bold;
    align-items: center;
    border-radius: 5px;
    justify-content: center;
    background-color: var(--bg);
}

.my-text-label {
    display: block;
    font-weight: bold;
    font-size: 1.25em;
    color: var(--bg);
}

/* Modal de Deslogar */
button.close:focus {
    outline: none;
    box-shadow: none;
}

#content {
    margin-left: 305px;
    transition: margin-left 0.3s ease;
    width: calc(100% - 305px);
}

.sidebar:not(.open) + #content {
    margin-left: 110px;
    width: calc(100% - 110px);
}

/* Ajustes para telas pequenas */
@media (max-width: 767px) {
    #content {
        margin-left: 90px;
        width: calc(100% - 90px);
        transition: margin-left 0.5s ease;
    }

    .sidebar.open + #content {
        margin-left: 310px;
        transition: margin-left 0.3s ease;
        width: calc(100% - 310px);
    }
}

#sairModal .modal-dialog {
    width: 60%;
    height: 60%;
    margin: 30px auto;
}

.container-main {
    width: 98%;
}
