@model FrotaWeb.Models.SolicitacaomanutencaoViewModel

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
<main>
    <h4 class="page-title">
        <span class="material-symbols-outlined">construction</span>
        Solicitar Manutenção
    </h4>
    <h4 class='vehicle-name'>@Html.DisplayFor(model => model.IdVeiculo)</h4>
    <form asp-action="Create" class='creator-form'>
        <div class='top-fields'>
            <div>
                <label for="odometer">Leitura do odômetro</label>
                <input name="odometer" type="number" id="odometer" placeholder="45.600">
            </div>
            <div>
                <label for="date">Data</label>
                <input name="date" type="date" id="date">
            </div>
        </div>
        <div class="defect-field">
            <h5>Defeito</h5>
            <button class="my-button"><span class="material-symbols-outlined">add</span>Novo Defeito</button>
        </div>
        <div class="middle-fields">
            <div class="type-container">
                <label for="type">Tipo de Manutenção</label>
                <select name="type" id="type" required>
                    <option value="" selected hidden>Selecione um tipo</option>
                    <option value="pneu" class="text-dark">Troca de Pneu</option>
                    <option value="oleo" class="text-dark">Troca de Óleo</option>
                    <option value="freio" class="text-dark">Troca de Freio</option>
                </select>
            </div>
            <div class="desc-container">
                <label for="desc">Descrição</label>
                <textarea name="desc" id="desc" placeholder="Pneu ultrapassou máximo de uso"></textarea>
            </div>
            <div class="upload-container">
                <button class="my-button"><span class="material-symbols-outlined">upload_file</span>Anexar arquivos</button>
            </div>
        </div>
        <div class="buttons">
            <input class="my-button" onclick="location.href = 'Index';" type="button" value="Voltar">
            <input class="my-button" type="submit" value="Confirmar">
        </div>
    </form>
</main>

<!--
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdVeiculo" class="control-label"></label>
                <input asp-for="IdVeiculo" class="form-control" />
                <span asp-validation-for="IdVeiculo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdPessoa" class="control-label"></label>
                <input asp-for="IdPessoa" class="form-control" />
                <span asp-validation-for="IdPessoa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataSolicitacao" class="control-label"></label>
                <input asp-for="DataSolicitacao" class="form-control" />
                <span asp-validation-for="DataSolicitacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescricaoProblema" class="control-label"></label>
                <input asp-for="DescricaoProblema" class="form-control" />
                <span asp-validation-for="DescricaoProblema" class="text-danger"></span>
            </div>
            <div class="form-group">
            </div>
        </form>
    </div>
</div>
-->

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
