@model FrotaWeb.Models.SolicitacaoManutencaoViewModel

<link rel="stylesheet" href="~/css/form-pages.css" asp-append-version="true" />

<main class="main_content container">
	<div class="titulo-pagina">
		<a href="javascript:history.back()" class="voltar">
			<i class="fa fa-arrow-left"></i> Voltar
		</a>
		<h1>Criar Solicitação de Manutenção</h1>
	</div>
	<div class="fomulario">
		<form asp-action="Create">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="IdVeiculo" class="label">Veículo</label>
				<input asp-for="IdVeiculo" class="form-control" placeholder="Veículo" />
				<span asp-validation-for="IdVeiculo" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="IdPessoa" class="label">Pessoa</label>
				<input asp-for="IdPessoa" class="form-control" placeholder="Pessoa" />
				<span asp-validation-for="IdPessoa" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="DataSolicitacao" class="label">Data de Solicitação</label>
				<input asp-for="DataSolicitacao" class="form-control" placeholder="" />
				<span asp-validation-for="DataSolicitacao" class="text-danger"></span>
			</div>
			<hr class="divisor">
			<div class="form-group w80">
				<label asp-for="DescricaoProblema" class="label">Descrição</label>
				<textarea asp-for="DescricaoProblema" class="form-control" placeholder="Manutenção necessária"></textarea>
				<span asp-validation-for="DescricaoProblema" class="text-danger"></span>
			</div>
			<div class="buttons">
				<input type="submit" value="Criar Solicitação" class="btn btn-primary" />
			</div>
		</form>
	</div>
</main>

@section Scripts {
	<script src="~/js/form.js" asp-append-version="true"></script>
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}