@model FrotaWeb.Models.SetupPasswordViewModel

@{
    Layout = null;
}

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <style>
        header, #sidebar {
            display: none;
        }

        footer {
            background-color: #08448c;
        }

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Poppins, sans-serif;
        }

        body {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            background-color: #e6f0fa;
        }

        .container {
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: row;
            width: 100vw;
            background-color: #D9E9F4;
        }

        .left-section {
            position: relative;
            width: 50%;
            height: 100vh;
        }

            .left-section img {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

        .right-section {
            height: 100vh;
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        @@media screen and (max-width: 980px) {
            .left-section
            {
                display: none;
            }

            .right-section {
                width: 100%;
                min-width: 300px;
            }

            .form {
                width: 100%;
                display: flex;
                flex-direction: column;
            }

        }

        .form-container {
            width: 300px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: #D9E9F4;
        }

        .right-section img {
            width: 100px;
            height: auto;
            margin: 15px;
        }

        .form {
            width: 100%;
            max-width: 400px;
            display: flex;
            flex-direction: column;
        }

            .form h1 {
                font-size: 25px;
                height: 25px;
                font-weight: 600;
                margin-bottom: 10px;
            }

            .form h2 {
                font-size: 18px;
                height: 18px;
                font-weight: 600;
                margin-bottom: 30px;
            }

            .form p {
                height: 35px;
                font-size: 18px;
                display: flex;
                flex-direction: column;
                text-align: left;
                justify-content: center;
                font-weight: 600;
            }

            .form input {
                padding: 10px;
                font-size: 1em;
                border: 2px solid rgba(0, 0, 0, 0.25);
                border-radius: 10px;
                background-color: #fff;
            }

                .form input:focus {
                    border: 2px solid #ccc;
                    outline: none;
                    border-color: #0C69AB;
                }


            .form a:hover {
                color: #000000;
            }

            .form ul {
                margin-top: 10px;
                margin-bottom: 20px;
                padding: 0;
                list-style-type: none;
            }

            .form span{
                color: red;
            }

            .form button {
                margin-top: 23px;
                margin-bottom: 23px;
                margin-left: 10%;
                margin-right: 10%;
                padding: 10px;
                font-size: 1em;
                color: white;
                background-color: #0C69AB;
                border: none;
                border-radius: 10px;
                cursor: pointer;
                transition: background-color 0.3s ease;
            }

                .form button:hover {
                    background-color: #155cb0;
                }

        .container-input {
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

            .container-input > input {
                width: 100%;
                height: 40px;
            }

            .container-input > button {
                position: absolute;
                width: 40px;
                height: 40px;
                right: 0;
                background-color: transparent;
                color: #0C69AB;
                border: none;
                padding: 0;
                margin: 0;
                cursor: pointer;
            }

                .container-input > button:focus {
                    background-color: transparent;
                }

                .container-input > button:hover {
                    background-color: transparent;
                }

        @@media screen and (max-width: 930px) {
            .left-section {
                width: 0%;
                height: 50vh;
            }

            .right-section {
                width: 100%;
                padding: 8px;
            }

            .form-container {
                border: 2px solid #0C69AB;
                border-radius: 10px;
                padding: 20px;
                margin-top: 8px;
                margin-bottom: 8px;
            }

            .register-link {
                margin-top: 15px;
                position: relative;
                bottom: 0;
            }
        }

        .invalid {
            color: red;
        }

        .valid {
            color: green;
        }

        .list-unstyled i {
            margin-right: 8px;
        }
    </style>
</head>
<div class="container">
    <div class="left-section">
        <img src="/img/background-login.png" alt="background" />
    </div>
    <section class="right-section">
        <form asp-action="SetupPassword" method="post">
            <div class="form-container">
                <img src="/img/logo.png" alt="Frota logo" />
                <div asp-validation-summary="ModelOnly" class="messages"></div>
                <div class="form">
                    <h1>Olá!</h1>
                    <h2>Vamos concluir seu cadastro.</h2>
                    <input type="hidden" asp-for="UserId" />
                    <p>Defina sua senha</p>
                    <div class="container-input">
                        <input asp-for="Password" class="form-control" id="Password" oninput="validatePassword(this.value)" />
                        <button type="button" class="btn btn-outline-secondary" onclick="togglePasswordVisibility('Password')">
                            <i class="fas fa-eye" id="password-eye"></i>
                        </button>
                    </div>
                    <span asp-validation-for="Password" class="text-danger"></span>
                    <ul id="password-hints" class="list-unstyled mt-2">
                        <li id="length" class="invalid">
                            <i class="fas fa-times"></i> Mínimo 8 caracteres
                        </li>
                        <li id="uppercase" class="invalid">
                            <i class="fas fa-times"></i> Pelo menos uma letra maiúscula
                        </li>
                        <li id="lowercase" class="invalid">
                            <i class="fas fa-times"></i> Pelo menos uma letra minúscula
                        </li>
                        <li id="number" class="invalid">
                            <i class="fas fa-times"></i> Pelo menos um número
                        </li>
                        <li id="special" class="invalid">
                            <i class="fas fa-times"></i> Pelo menos um caractere especial
                        </li>
                    </ul>
                    <p>Confirme sua senha</p>
                    <div class="container-input">
                        <input asp-for="ConfirmPassword" class="form-control" id="ConfirmPassword" />
                        <button type="button" class="btn btn-outline-secondary" onclick="togglePasswordVisibility('ConfirmPassword')">
                            <i class="fas fa-eye" id="confirm-password-eye"></i>
                        </button>
                    </div>
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    <button id="login-submit" type="submit">Definir Senha</button>
                </div>
            </div>
        </form>
    </section>
    <script>
        function validatePassword(password) {
            const hints = {
                length: password.length >= 8,
                uppercase: /[A-Z]/.test(password),
                lowercase: /[a-z]/.test(password),
                number: /\d/.test(password),
                special: /[\W_]/.test(password),
            };

            // Atualizar os ícones e classes do checklist
            for (const [key, isValid] of Object.entries(hints)) {
                const hint = document.getElementById(key);
                const icon = hint.querySelector("i");

                if (isValid) {
                    hint.classList.remove("invalid");
                    hint.classList.add("valid");
                    icon.classList.remove("fa-times");
                    icon.classList.add("fa-check");
                } else {
                    hint.classList.remove("valid");
                    hint.classList.add("invalid");
                    icon.classList.remove("fa-check");
                    icon.classList.add("fa-times");
                }
            }
        }

        function togglePasswordVisibility(inputId) {
            const input = document.getElementById(inputId);
            const eyeIcon = input.nextElementSibling.querySelector("i");

            if (input.type === "password") {
                input.type = "text";
                eyeIcon.classList.remove("fa-eye");
                eyeIcon.classList.add("fa-eye-slash");
            } else {
                input.type = "password";
                eyeIcon.classList.remove("fa-eye-slash");
                eyeIcon.classList.add("fa-eye");
            }
        }
    </script>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
