@model FrotaWeb.Models.ManutencaoViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ManutencaoViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdVeiculo" class="control-label"></label>
                <input asp-for="IdVeiculo" class="form-control" />
                <span asp-validation-for="IdVeiculo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdFornecedor" class="control-label"></label>
                <input asp-for="IdFornecedor" class="form-control" />
                <span asp-validation-for="IdFornecedor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataHora" class="control-label"></label>
                <input asp-for="DataHora" class="form-control" />
                <span asp-validation-for="DataHora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdResponsavel" class="control-label"></label>
                <input asp-for="IdResponsavel" class="form-control" />
                <span asp-validation-for="IdResponsavel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorPecas" class="control-label"></label>
                <input asp-for="ValorPecas" class="form-control" />
                <span asp-validation-for="ValorPecas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorManutencao" class="control-label"></label>
                <input asp-for="ValorManutencao" class="form-control" />
                <span asp-validation-for="ValorManutencao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tipo" class="control-label"></label>
                <input asp-for="Tipo" class="form-control" />
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comprovante" class="control-label"></label>
                <input asp-for="Comprovante" class="form-control" />
                <span asp-validation-for="Comprovante" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
